---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: gateway
  name: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - env:
            - name: GATEWAY_SERVER
              valueFrom:
                configMapKeyRef:
                  key: GATEWAY_SERVER
                  name: server-config
          image: localhost:5000/gateway:local
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          name: gateway
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: 500m
              memory: 768Mi
            requests:
              cpu: 250m
              memory: 512Mi
          startupProbe:
            failureThreshold: 30
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            periodSeconds: 10