---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - env:
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: kafka:9092
            - name: SPRING_GRAPHQL_WEBSOCKET_ENABLED
              value: 'true'
            - name: JAVA_OPTS
              value: '-Xms128M -Xmx256M -XX:+UseSerialGC'
          image: localhost:5000/api:local
          imagePullPolicy: Always
          name: api
          ports:
            - containerPort: 8080
          resources:
            limits:
              memory: 384Mi
            requests:
              cpu: 100m
              memory: 256Mi
      initContainers:
        - command:
            - sh
            - '-c'
            - |
              echo "Waiting for Analyser..."
              until nc -z analyser 8080; do
                sleep 2
              done
              echo "Analyser is ready!"
          image: busybox
          name: wait-for-analyser