---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - env:
            - name: KAFKA_CONTROLLER_QUORUM_VOTERS
              valueFrom:
                configMapKeyRef:
                  key: KAFKA_CONTROLLER_QUORUM_VOTERS
                  name: kafka-config
            - name: KAFKA_BOOTSTRAP_SERVERS
              valueFrom:
                configMapKeyRef:
                  key: KAFKA_BOOTSTRAP_SERVERS
                  name: kafka-config
            - name: SPRING_GRAPHQL_WEBSOCKET_ENABLED
              value: 'true'
          image: localhost:5000/api:local
          imagePullPolicy: Always
          name: api
          ports:
            - containerPort: 8080
      initContainers:
        - command:
            - sh
            - '-c'
            - |
              echo "Waiting for Analyser to be ready..."
              until nc -z analyser 8080; do
                echo "8080 not ready, sleeping 2s..."
                sleep 2
              done
              echo "8080 is ready!"
          image: busybox
          name: wait-for-kafka