---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: analyser
spec:
  replicas: 1
  selector:
    matchLabels:
      app: analyser
  template:
    metadata:
      labels:
        app: analyser
    spec:
      containers:
        - image: localhost:5000/analyser:local
          imagePullPolicy: Always
          name: analyser
          ports:
            - containerPort: 8080
              name: http
          resources:
            limits:
              cpu: 300m
              memory: 256Mi
            requests:
              cpu: 100m
              memory: 160Mi
      initContainers:
        - command:
            - sh
            - '-c'
            - |
              echo "Waiting for Kafka..."
              until nc -z kafka 9092; do
                sleep 2
              done
              echo "Waiting for Agent..."
              until nc -z agent 9090; do
                sleep 2
              done
              echo "All ready!"
          image: busybox
          name: wait-for-dependencies