---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: agent
spec:
  replicas: 1
  selector:
    matchLabels:
      app: agent
  template:
    metadata:
      labels:
        app: agent
    spec:
      containers:
        - env:
            - name: JAVA_OPTS
              value: '-Xms64M -Xmx128M -XX:+UseSerialGC'
          image: localhost:5000/agent:local
          imagePullPolicy: Always
          name: agent
          ports:
            - containerPort: 9090
              name: grpc
          readinessProbe:
            initialDelaySeconds: 5
            periodSeconds: 10
            tcpSocket:
              port: 9090
          resources:
            limits:
              cpu: 200m
              memory: 160Mi
            requests:
              cpu: 50m
              memory: 100Mi